{% load static %}

<style>
    .avatar-zoom {
        cursor: pointer;
        overflow: hidden;
        width: 50px; /* Set the initial width */
        height: 50px; /* Maintain the aspect ratio */
    }

    .avatar-zoom img {
        transition: transform 0.3s ease-out;
        width: 50px;
        height: 50px;
    }
</style>

<center>
    <!-- Wrap the image in an anchor tag with data-toggle and data-target attributes for the modal -->
    <a href="{% url 'product:product_detail' obj.id %}" target="_blank" class="avatar-zoom">
        <img src="{% if img_url %}{{ img_url.url }}{% else %}{% static 'images/product-image.png' %}{% endif %}" alt="avatar">
    </a>
</center>
